.modal {
   display: flex;
   flex-direction: column;
   width: 480px;

   &:focus-visible {
      outline: none;
   }
      
   h1 {      
      display: flex;
      align-items: center;
      font-size: 20px;
      margin: 0 0 18px 0;

      &::before {
         content: "";
         background: url(../../../../assets/gfx/icon-error.svg) no-repeat center;
         background-size: 27px;
         width: 27px;
         height: 26px;
         display: flex;
         margin-right: 10px;
      }
   }
   
   .body {
      margin-bottom: 24px;

      input {
         width: 100%;
      }
   }
   
   .buttons {
      display: flex;
      justify-content: flex-end;

      button {
         font-size: 15px;
         margin-left: 12px;
      }
   }
}
