.breadcrumbs {
   display: block;

   ul {
      display: flex;
      margin: 0;
      padding: 0;

      li {
         font-family: "Open Sans", sans-serif;
         font-weight: 400;
         font-size: 15px;
         color: #2f3940;
         list-style-type: none;
         padding: 0 6px 0 0;

         &:first-of-type {
            //padding-left: 10px;
         }

         &:not(:last-of-type)::after {
            content: "";
            display: inline-block;
            box-sizing: border-box;
            width: 8px;
            height: 8px;
            margin: 1px 3px;
            border-bottom: 2px solid;
            border-right: 2px solid;
            border-color: #2f3940;
            transform: rotate(-45deg);
         }

         a {
            text-decoration: none;
            color: #3767c7;
         }
      }
   }
}