.checkbox {
   display: flex;
   align-items: center;

   input {
      display: flex;
   }
}

.select {
   position: relative;

   gn-select select {
      font-size: 15px;
      height: 32px;

      &:disabled {
         border-color: transparent;
         background: transparent;
         cursor: default;
         color: #2f3940;
         opacity: 1;
      }
   }

   &.disabled::after {
      content: "";
      width: 32px;
      height: 32px;
      background: #ffffff;
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
   }
}

.textArea {
   gn-textarea {
      display: flex !important;
   }   
}

.textField {
   gn-input {
      input[type],
      input:not([type]) {
         font-size: 15px;
   
         &:disabled {
            border: 1px solid transparent;
            background: transparent;
            cursor: default;
            color: #2f3940;
         }
      }
   }
}

.optional {
   font-style: italic;
   font-size: 14px;
   color: #939393;
   font-family: 'Open Sans';
   font-weight: 500;
   margin-left: 6px;
   line-height: 1.5;
}

.error {
   color: #d32f2f;
   font-size: 13px;
}