content-container {
   max-width: 1902px;
   min-width: 1170px;
   width: auto !important;
   box-sizing: border-box;
   padding: 0 96px !important;
}

gn-table[hoverable] table tbody tr {
   transition: none !important;
   -webkit-transition: none !important;
}

gn-button button,
gn-button a,
gn-input input,
gn-textarea textarea,
gn-select select {
   font-size: 15px !important;
}

gn-select select {
   height: 32px !important;
}

gn-label label {
   user-select: none;
}

gn-label[block] {
   margin-bottom: 3px;
}

a:hover {
   text-decoration: underline !important;
}

gn-button a:hover {
   text-decoration: none !important;
}

.szh-menu__item {
   cursor: pointer;   
   display: flex;
   align-items: center;
   padding: 10px 12px;
}

.szh-menu__divider {
   margin: 0;
}

.szh-menu__item--hover {
   background-color: rgba(0, 0, 0, .05);
}

.szh-menu__submenu>.szh-menu__item:after {
   content: "❯";
   margin-left: 12px;
}

.ol-zoom {
   top: 12px;   
   left: 6px;
   border-radius: 4px;

   .ol-zoom-in,
   .ol-zoom-out {
      width: 30px;
      height: 24px;
      cursor: pointer;
      font-family: 'Open Sans';
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: #555555;
      outline: 1px solid #ababab;

      &:focus {
         outline: 1px solid #ababab;
      }

      &:hover {
         outline: 1px solid #555555;
      }
   }

   .ol-zoom-out {
      padding-bottom: 4px;
   }
}

.ol-zoom-extent {
   top: 74px;
   left: 6px;

   button {
      background: url(../assets/gfx/icon-extent.svg) no-repeat center #ffffff;
      font-size: 0;
      width: 30px;
      height: 30px;
      background-size: 24px;
      cursor: pointer;
      outline: 1px solid #ababab;

      &:focus {
         outline: 1px solid #ababab;
      }

      &:hover {
         outline: 1px solid #555555;
      }
   }
}