.editor {
   display: flex;
   gap: 4px;
   border: 1px solid #c4c4c4;
   border-radius: 4px;
   background: #ffffff;
   padding: 4px;

   .separator {
      flex: 1;
      width: 1px;
      height: auto;
      border-right: 1px solid #c4c4c4;
   }

   button {
      padding: 0;
      border: 0;
      border-radius: 4px;
      width: 36px;
      height: 36px;
      cursor: pointer;
      transition: 0.2s;

      &:not(:disabled):hover {
         background-color: #f1f1f1 !important;
      }

      &:not(:disabled).active,
      &:not(:disabled):active {
         background-color: #dbdbdb !important;
      }

      &:disabled {
         opacity: 0.25;
         cursor: not-allowed;
      }

      &.clearAll {
         background: url('../../../assets/gfx/icon-new-document.svg') no-repeat center;
         background-size: 18px;         
      }

      &.select {
         background: url('../../../assets/gfx/icon-mouse-arrow.svg') no-repeat center;
         background-size: 18px;
      }

      &.polygon {
         background: url('../../../assets/gfx/icon-polygon.svg') no-repeat center;
         background-size: 22px;
      }

      &.polygonHole {
         background: url('../../../assets/gfx/icon-polygon-hole.svg') no-repeat center;
         background-size: 22px;
      }

      &.modify {
         background: url('../../../assets/gfx/icon-polygon-modify.svg') no-repeat center;
         background-size: 22px;
      }

      &.delete {
         background: url('../../../assets/gfx/icon-cross.svg') no-repeat center;
         background-size: 24px;
      }

      &.undo {
         background: url('../../../assets/gfx/icon-undo.svg') no-repeat center;
         background-size: 20px;
      }

      &.redo {
         background: url('../../../assets/gfx/icon-redo.svg') no-repeat center;
         background-size: 20px;
      }
   }
}