.container {
    .buttonsTop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;

        >div {
            display: flex;
            align-items: center;

            >* {
                margin-right: 24px;
            }

            .checkbox {
                display: flex;
                align-items: center;
                user-select: none;

                input {
                    display: flex;
                }
            }
        }

        button {
            &.edit {
                display: flex;
                align-items: center;
                font-size: 15px;

                &::before {
                    content: "";
                    background: url(../../../assets/gfx/icon-edit.svg) no-repeat center center;
                    width: 20px;
                    height: 33px;
                    background-size: 15px;
                    border: 0;
                    padding: 0;
                    margin-right: 5px;
                }
            }
        }
    }

    th {
        padding: 8px 8px 0 !important;
        height: 42px;
    }

    td {
        padding: 8px !important;
    }
}

.tableRow {
    cursor: pointer;

    &.selected {
        background-color: rgba(0, 0, 0, .05);
    }

    .checkboxCell {
        padding: 0 !important;

        label {
            display: flex;
            padding: 10px 18px;
            max-width: fit-content;

            gn-input input {
                display: flex;
                margin: 0;
            }
        }
    }
}

.checkboxCell {
    padding: 0 !important;

    >div {
        margin-bottom: -2px;
        display: flex;
        justify-content: center;

        label {
            display: flex;
            padding: 10px 18px;
            max-width: fit-content;

            gn-input input {
                display: flex;
                margin: 0;
            }
        }
    }
}

.idCell > div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.buttonLink {
    border: 0;
    padding: 0;
    background: none;
    color: #3767c7;
    text-decoration: underline;
    font-size: 15px;
    font-family: "Open Sans";
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.pagination {
    display: flex;
    padding: 24px 0;
    justify-content: center;

    ul {
        display: flex;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            margin-right: 10px;

            &:first-child a::before,
            &:last-child a::after {
                content: "";
                background-image: url(../../../assets/gfx/icon-chevron.svg);
                display: flex;
                width: 12px;
                height: 10px;
                background-repeat: no-repeat;
                background-size: 12px;
            }

            &:first-child a::before {
                transform: rotate(270deg);
                margin: 1px 6px 0 -3px;
            }

            &:last-child a::after {
                transform: rotate(90deg);
                margin: 1px -3px 0 6px;
            }

            a {
                cursor: pointer;
                background-color: #eee;
                color: #2f3940;
                border: 1px solid #d8d8d8;
                border-radius: 4px;
                padding: 5px 8px;
                text-decoration: none;
                box-sizing: border-box;
                min-width: 40px;
                text-align: center;
                user-select: none;
                transition: all .35s linear 0s;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #dddddd;
                }
            }
        }
    }
}

.coordinates {
    span:first-child {
        &::after {
            content: ", "
        }
    }
}

.remoteEditor {
    display: flex;
    gap: 3px;
    height: fit-content;

    &::before {
        content: '';
        background: url('../../../assets/gfx/icon-edit.svg') no-repeat center;
        width: 20px;
        height: 20px;
        background-size: 12px;      
    }

    &>div {
        border-radius: 4px;
        padding: 0 6px;
        color: #ffffff;
        font-size: 13px;
        height: fit-content;
    }
}