.contextMenu ul {
   border-radius: 4px;
   box-shadow: 0 3px 7px rgba(0, 0, 0, 0.133), 0 0.6px 2px rgba(0, 0, 0, 0.1);
   border: 0 none;
   margin-top: 1px !important;
   min-width: 180px;
}

.position {
   padding: 10px 12px;
   border-bottom: 1px solid #e5e5e5;
   line-height: 24px;
}

.addObject {
   display: flex;
   align-items: center;

   &::before {
      content: "";
      background: url(../../../assets/gfx/icon-add.svg) no-repeat center;
      width: 20px;
      height: 22px;
      background-size: 17px;
      margin-right: 6px;
   }
}