.contextMenu ul {
   border-radius: 4px;
   box-shadow: 0 3px 7px rgba(0, 0, 0, 0.133), 0 0.6px 2px rgba(0, 0, 0, 0.1);
   border: 0 none;
   margin-top: 1px !important;
   min-width: 180px;
}

li.header {
   padding: 10px 12px;
   border-bottom: 1px solid #e5e5e5;
   line-height: 24px;
}

.addButton {
   display: flex;
   align-items: center;

   &::before {
      content: "";
      width: 20px;
      height: 22px;
      margin-right: 6px;
   }
}

.addPoint::before {
   background: url(../../../assets/gfx/icon-point.svg) no-repeat center;
   background-size: 25px;
}

.addLineString::before {
   background: url(../../../assets/gfx/icon-line.svg) no-repeat center;
   background-size: 17px;
}

.addPolygon::before {
   background: url(../../../assets/gfx/icon-polygon.svg) no-repeat center;
   background-size: 20px;
}